<div id="bodyContainer" ng-app="EbayCalculations">
    <section id="content" ng-controller="ItemController">
        <div ng-init="getAllItems()">
            <div class="container" ng-repeat="item in items">
                <div class="row">
                    <p>{item.Id}</p>
                    <p>{item.PersonSoldToId}</p>
                    <p>{item.Name}</p>
                    <p>{item.Price}</p>
                    <p>{item.ShippingPaidByBuyer}</p>
                    <p>{item.ShippingPaidBySeller}</p>
                    <p>{item.ShippingContainerPrice}</p>
                    <p>{item.PaypalFee}</p>
                    <p>{item.EbayFee}</p>
                    <p>{item.SoldDate}</p>
                    <p>{item.Delivered}</p>
                </div>
            </div>
        </div>
    </section>
</div>